

 * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                scroll-behavior: smooth;
            }

p1{
    position: absolute;
    top: 85%;
    right: 42%;
}


footer {
    background-color: black;
    width: 98vw;
    height: 10vw;
}   

p2 {
    color: white
}